<section class="p-homepage">
  <div class="p-homepage__section">
    <h2>{{ 'Upcoming Movies' |t }}</h2>
    {{ block_upcoming_movies }}
  </div>

  <div class="p-homepage__section">
    <h2>{{ 'Popular Actors' |t }}</h2>
    {{ block_popular_actors }}
  </div>

  <div class="p-homepage__section">
    <h2>{{ 'Popular Movies' |t }}</h2>
    {{ block_popular_movies }}
  </div>
</section>
